.movies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-inline: 32px;

  .movie-card {
    display: grid;
    place-items: center;
    width: 250px;
    height: 370px;
    position: relative;
    text-align: center;

    &:hover {
      .title, .year {
        opacity: 1;
      }
    }

    .title {
      max-width: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in;
      color: beige;
      font-size: 20px;
      line-height: 1.5em;
      padding-block: 8px;
    }

    .year {
      position: absolute;
      bottom: 0;
      opacity: 0;
      left: 0;
      right: 0;
      background: black;
      transition: opacity 0.3s ease-in;
      color: beige;
      font-size: 22px;
      padding-block: 8px;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 370px;
      object-fit: cover;
    }
  }
}
