:host {
  display: block;
  margin: 30px auto;
  max-width: 700px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    li {
      background: #151515;
      border-radius: 6px;

      &:hover {
        background: mediumseagreen;

        a {
          color: #151515;
        }
      }

      a {
        display: block;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1.5em;
        text-decoration: none;
        color: mediumseagreen;
      }
    }
  }
}
